# Fichiers système
.DS_Store
Thumbs.db

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers de log
*.log

# Fichiers temporaires
*.bak
*.tmp
